@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

:root{
    --accentColor: hsl(27, 86%, 52%);
    --primaryColor: hsl(240, 4%, 9%);
    --primaryTextColor:hsl(0, 0%, 0%);
    --alternativeTextColor: hsl(0, 0%, 100%);
    --titlesFontFamily: 'Overpass', sans-serif;
    --regularTextFontFamily: 'Arial', sans-serif;
    --fontSizeResponsive: clamp(1rem, 2vw, 1.25em );
}


/* Utility classes*/
.titleFont{
    font-family: var(--titlesFontFamily);
}

.flex-column{
    flex-direction: column;
}

.accent-bg{
    background-color: var(--accentColor);
}

.primary-bg{
    background-color: var(--primaryColor);
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.flex-centered{
    align-items: center;
    justify-content: center;
}


/*BEM classes*/

.mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.5em;
    margin-bottom: 3em;
}

.logo{
    width: clamp(15em,20vw,20em);
    padding: 1em;
}


.menu{
    margin-block: 1.5em;
}

.menu__item{
    margin: 2em;
    list-style: none;
}

.menu__link{
    color: inherit;
    font-size: var(--fontSizeResponsive);
    text-decoration: none;
    padding: .5em;
}

.menu__link:hover{
    border-bottom: 2px var(--accentColor) solid;
}

.menu__link--selected{
    color:var(--accentColor);
    
}


.introSection{
    grid-template-columns: repeat(2,1fr);
    margin-block: 2em;
    grid-template-areas:
    'firstText newsletterForm'
    '. .'
    'secondText secondText';
    row-gap: 3em;
}

.mainParagraph{
    max-width: 75%;
    font-size: var(--fontSizeResponsive);
    line-height: 2;
}

.firstText{
    place-self: center;
    grid-area: firstText;
}

.secondText{
    place-self: center;
    grid-area: secondText;
}

.newsletterForm{
    margin-block: 2em;
    max-width: 30em;
    flex-direction: column;
    align-self: center;
    place-self: center;
    grid-area: newsletterForm;
}

.newsletterFormTitle{
    font-size: var(--fontSizeResponsive);
    text-align: center;
    margin-bottom: 1em;
}

.formField{
    display: flex;
    align-items: center;
}

.inputField{
    min-height: 3em;
    padding: 0.5em;
    margin-inline: 0.5em;
    border: 2px dashed var(--accentColor);
    border-radius: 5px;
}


.button{
    margin: .5em;
    border-radius: 15px;
    padding: .5em;
    font-size: var(--fontSizeResponsive);
    border: 0;
}

.projectsSection{
    margin: 2em;
    justify-content: center;
    align-items: center;
}


.card{
    max-width: 35em;

    margin: 2em;
    padding: 1.75em 1.25em;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    border: 4px solid var(--accentColor);
    background-color: var(--primaryColor);
}

.card__media{
    border-radius: 15px;
}

.card__info{
    text-align: center;
    color: var(--alternativeTextColor);
    margin: 1em;
}

.card__CTA{
    width: 100%;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    color: var(--alternativeTextColor);
    border: 2px solid var(--accentColor);
}

@media (max-width:70em){

    .mainNav{
        flex-direction: column;
        padding-inline:0;
    }

    .introSection{
    grid-template-columns: 1fr;
    grid-template-areas:
    'firstText'
    'secondText'
    'newsletterForm';
    gap: 4em;
}

    .projectsSection {
        flex-direction: column;
    }

}

@media (max-width:45em){

    .menu{
        flex-direction: column;
        text-align: center;
    }

    .menu__link{
        border-block: 2px dashed orange;
    }
}